.wines-page {
    background-image: url('/public/images/main-rev-img-3.jpg');
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #fff; /* Color del texto */
  }
  .column {
    width: 100%;
    height: 65vh;
    background-color:white;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #000;
  }
  .parrafo {
    margin-left: 50px;
    margin-right: 50px;
  }
  .NavBar {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    align-items: center;
    font-size: x-large;
    margin: 20px;
}